body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
}

/* h1 {
    font-size: 1.9rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.35rem;
}
a {
    text-decoration: none;
} */
p {
    color: #636363;
}


/* header */
header nav {
    background-color: midnightblue;
    padding: 10px 20px;

    /* display: flex;
    justify-content: space-between; */
}

header .logo {
    background-color: white;
    padding: 0 8px;

    /* display: flex;
    align-items: center; */
}

header .logo img {
    width: 40px;
}

header .logo span {
    color: mediumvioletred;

    /* font-size: 18px;
    font-weight: 700; */
}


header nav ul {
    padding: 0;
}

header nav li {
    display: inline;
    padding: 5px 10px;
}

/* header nav li a:hover {
    color: mediumvioletred;
} */

header nav li a {
    color: white;
}

header .banner {
  height: 450px;

  /* background-color: rgba(20, 20, 20, 0.35);

  position: relative; */
}
header .banner img {
    width: 100%;
    height: 450px;
    z-index: -1;
    position: relative;
}
/* 
header .banner-texto {

    width: 100%;
    text-align: center;

    position: absolute;
    top: 180px;
    left: 0;
}

header .banner-texto p {
    color: white;
    font-size: 1.2rem;
}
header .banner-texto h1 {
    color: white;

    font-size: 2.7rem;
    font-weight: 500;
} */

.inicio {
    padding: 50px 230px;

    /* text-align: center; */
}

.inicio h1 {
    margin: 0;
}


/* Sección nosotros */
.sobre-nosotros {
    background-color: #f3f3f3;
}

.sobre-nosotros article {
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    width: 950px;
    margin-bottom: 10px;

    /* display: flex; */
}

.sobre-nosotros article img {
    width: 450px;
}

.sobre-nosotros article .detalle {
    padding: 75px;
    /* text-align: center; */
}

.sobre-nosotros article .detalle a {
    background-color: midnightblue;
    color: aliceblue;
    height: 50px;
    display: block;

    /* line-height: 50px; */
}

/* .sobre-nosotros article .detalle a:hover {
    background-color: rgb(11, 11, 155);
    font-weight: 500;
} */

/* #accion {

    flex-direction: row-reverse;
} */

/* Galeria de fotos */
.galeria {
    padding-top: 25px;
    width: 950px;
}

.galeria h2 {
    border-bottom: 1px solid grey;
}

.galeria img{
    width: 100%;
}

/* .galeria img:hover{
    transform: scale(1.02);
    transition: 0.1s;
    cursor: zoom-in;
} */

/* Suscribirme */
.suscribirme {
    background-color: mediumvioletred;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    
    /* text-align: center; */
}

.suscribirme h2 {
    margin: 0;
    color: lightpink;
}

.suscribirme p {
    color: white;
    /* font-size: 0.85rem; */
}

.suscribirme form input {
    height: 28px;
    border: none;
    margin-right: 10px;
    padding: 0;
}

.suscribirme form #name {
    width: 175px;
}

.suscribirme form #email {
    width: 275px;
}

.suscribirme form #registrar {
    width: 120px;
    padding: 2px 0;
    background-color: darkmagenta;
    color: white;
    border: none;
    /* font-size: 1rem; */
}


/* Footer */
footer {
    background-color: navy;
    padding: 15px 0;
    
}

footer address {
    color: lightskyblue;
    /* text-align: center;
    font-size: 0.8rem;
    font-style: normal; */
}