body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.9rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.35rem;
}
a {
    text-decoration: none;
}
p {
    color: #636363;
    font-size: 1rem;
}


/* header */
header nav {
    background-color: midnightblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    background-color: white;
    padding: 0 8px;
    height: 40px;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
}

header .logo span {
    color: mediumvioletred;

    font-size: 18px;
    font-weight: 700;
}


header nav ul {
    padding: 0;
}

header nav li {
    display: inline-block;
    padding: 5px 10px;
}

header nav li a:hover {
    color: mediumvioletred;
}

header nav li a {
    color: white;
}

header .banner {
  height: 450px;
}
header .banner img {
    width: 100%;
    height: 450px;

}

.inicio {
    padding: 50px 230px;

    text-align: center;
}

.inicio h1 {
    margin: 0;
}


/* Sección nosotros */
.sobre-nosotros {
    background-color: #f3f3f3;
}

.sobre-nosotros article {
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    max-width: 950px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: flex-start;
}

.sobre-nosotros article img {
    width: 50%;
}

.sobre-nosotros article .detalle {
    padding: 75px;
    text-align: center;
}

.sobre-nosotros article .detalle a {
    background-color: midnightblue;
    color: aliceblue;
    height: 50px;
    display: block;

    line-height: 50px;
}

.sobre-nosotros article .detalle a:hover {
    background-color: rgb(11, 11, 155);
    font-weight: 500;
}

#accion {

    flex-direction: row-reverse;
}

/* Galeria de fotos */
.galeria {
    padding-top: 25px;
    /* width: 950px; */
    margin: 0 auto;
    margin-bottom: 35px;

    max-width: 950px;
}

.galeria h2 {
    border-bottom: 1px solid grey;
}

.galeria img{
    width: 100%;
}

/* Suscribirme */
.suscribirme {
    background-color: mediumvioletred;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    
    text-align: center;
}

.suscribirme h2 {
    margin: 0;
    color: lightpink;
}

.suscribirme p {
    color: white;
    font-size: 0.85rem;
}

.suscribirme form {
    display: flex;
    justify-content: center;
}

.suscribirme form input {
    height: 28px;
    border: none;
    margin-right: 10px;
    padding: 0;
}

.suscribirme form #name {
    width: 175px;
}

.suscribirme form #email {
    width: 275px;
}

.suscribirme form #registrar {
    width: 120px;
    padding: 2px 0;
    background-color: darkmagenta;
    color: white;
    border: none;
    font-size: 1rem;
}


/* Footer */
footer {
    background-color: navy;
    padding: 15px 0;
    
}

footer address {
    color: lightskyblue;
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
}

/* mobile 400px  mediano 700px large 1050px */

@media screen and (max-width: 700px) {
    .inicio {
        padding: 50px 30px;
    }

    .sobre-nosotros article .detalle {
        padding: 3px 40px;
    }

    .suscribirme form {
        align-items: flex-end;
    }
}

@media screen and (max-width: 400px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li {
        text-align: center;
    }

    header .banner img {
        height: auto;
    }

    header .banner {
        height: auto;
    }

    html {
        font-size: 14px;
    }
    .sobre-nosotros article img {
        width: 100%;
    }

    .sobre-nosotros article {
        flex-direction: column;
    }

    #accion {
        flex-direction: column;
    }

    .suscribirme form {
        flex-direction: column;
        align-items: flex-end;
    }

    .suscribirme form div {
        margin-bottom: 5px;
        width: 90%;
    }
    .suscribirme form div input{
        width: 70%;
    }
}